
nav {
  background-color: aquamarine;
}

.animal {
  background-color: yellow;
  width: 800;
  padding: 15px;
  margin: 10px;
}

.animal img {
  width: 200px;
  height: 200px;
}
.group {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}