
nav {
  background-color: lightskyblue;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.animal {
  background-color: lightcyan;
  width: 800;
  padding: 15px;
  margin: 15px;
}

.animal img {
  width: 400px;
  height: 200px;
}
.group {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}

#animalName {
  font-size: 35px;
}

#animalType {
  padding-left: 30px;
  font-size: 35px;
}

button {
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: 100;
  height: 50px;
  padding: 10px 40px;
  border-radius: 5px;
  margin: 10px 0px;
  margin-top: 2%;
  cursor: pointer;
}