
nav {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid lightblue;
  color: lightblue
}

#push {
  margin-left: auto;
  margin-right: 40px;
}

#push2 {
  margin-right: 80px;
}

.animal {
  background-color: lightgray;
  border-width: 3px;
  border-radius: 20px;
  width: 325px;
  padding: 15px;
  margin: 15px;
}

.animal:hover {
  background-color: lightblue;
}

.animal img {
  width: 325px;
  height: 200px;
  border-radius: 20px;
}

.group {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}

#animalName {
  font-size: 35px;
}

#animalType {
  padding-left: 40px;
  font-size: 35px;
}

button {
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 100px;
  color: #1b2337;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  border-width: 4px;
  letter-spacing: 2px;
  transition-duration: 300ms;
  border: solid lightblue;
}

button:hover {
  border-width: 4px;
  letter-spacing: 2px;
  background-color: white;
  transition-duration: 300ms;
  border: solid black;

}